@use './variables' as *;

.page {
   display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.form-page {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(29, 41, 81, 0.5), rgb(29, 41, 81, 0.1));
}

.login-form {
  width: 60%;
  margin-inline: auto;
}