@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

$white: #eff1fa;
$dark-blue: #341c6c;
$purple: #7c6be3;
$light-blue: #bbc0d3;